<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js"></script>
<div class="container">
  <div class="jumbotron text-center">
    <h3>Battlenuggets Store</h3>
    <h6 ng-show="authed()">${{ wallet }}</h6>
  </div>

  <div ng-hide="authed()">Make an account to get nollars and shop!</div>

  <div class="row">
    <div class="col-lg-3 thumb" ng-repeat="item in items">
      <span class="label label-primary">{{ item.name }}</span>
      <a class="thumbnail"><img class="img-responsive" ng-src="{{ item.img }}"/></a>
      <button ng-disabled="!authed() || !canAfford(item) || alreadyOwns(item)" data-toggle="modal" data-target="#confirmPurchase" ng-click="nominate(item)" class="btn btn-primary btn-block">Purchase: ${{ item.price }}</button>
  </div>

  <div class="modal fade" id="confirmPurchase" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Confirm purchase of {{ purchaseCandidate.name }} for {{ purchaseCandidate.price }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" ng-click="purchase()" class="btn btn-primary" data-dismiss="modal">Purchase</button>
        </div>
      </div>
    </div>
  </div>
</div>