/*main page*/

.navbar {
  margin-bottom: 0;
}

/*body {
  background: black;
}*/

[ui-view='left'] {
  float: left;
  width: 25%;
  height: 650px;
  background: lightgreen;
}

[ui-view='gameview'] {
  float: left;
  width: 50%;
  height: 650px;
  background: lightgray;
}

[ui-view='right'] {
  float: left;
  width: 25%;
  height: 650px;
  background: lightyellow;
  border: black;
  border-radius: 60px;
}

/*Chat Window*/

.messages {
  overflow: auto;
  height: 500px;
}