/*main page*/

[ui-view='left'] {
  float: left;
  width: 25%;
  height: 650px;
  background: lightgreen;
}

[ui-view='gameview'] {
  float: left;
  width: 50%;
  height: 650px;
  background: lightgray;
}

[ui-view='right'] {
  float: left;
  width: 25%;
  height: 650px;
  background: lightyellow;
}
