<div class='col-md-6 col-md-offset-3'>
  <h2> Create Account </h2>
  <form name="signupForm" role='form' ng-submit='signup()'>
    <div class='form-group'>
      <label> Select your Username </label>
      <input type='text' name='username' class='form-control' placeholder='Enter new user name' ng-model='user.username' required>
      <div ng-messages='signupForm.username.$error'>
        <div ng-message="required" class='errorMsg'>Username is required</div>
      </div>
    </div>
    <div class='form-group'>
      <label> Select your password </label>
      <input type="password" name='password' class='form-control' placeholder='New password' ng-model='user.password' required>
      <div ng-messages='signupForm.password.$error'>
        <div ng-message="required" class='errorMsg'>Password is required</div>
      </div>
    </div>
    <div class='form-actions'>
      <button type='submit' class="btn btn-primary">signup</button>
      <a href="#/signin" class="btn btn-link" >Already have an account? <strong>Signin</strong> ...</a>
    </div>
  </form>
  <div class='errorMsg'>
    <h4 ng-hide='authed()'>{{ signupFailed }}</h4>
  </div>
</div>
