<div class="betboard" ng-controller="BetboardCtrl" >
  <div class='betheader'>
    <h3><strong>Place Your Bets</strong></h3>
    <h4>Time to next battle: {{ countdown }} seconds</h4>
  </div>
  <!-- Odds are just determining which side has more bets. If larger, divide the larger total by the smaller total or 1. If smaller, just display 1. Round results to nearest decimal place. -->
  <div class="odds">
    <span class="redtext"><strong>
      {{ team0total > team1total ? (team0total / (team1total || 1) | number: 1) : 1 }}
    </strong></span>
    <span>:</span>
    <span class="bluetext"><strong>
      {{ team1total > team0total ? (team1total / (team0total || 1) | number: 1) : 1 }}
    </strong></span>
  </div>
  <div class="team0">
    <span class="redtext"><strong>Chicken</strong></span>
    <div class="bets">
      <div ng-repeat="bet in bets | filter:{team: 0} | orderBy:'-amount'" >
        <span class="user">{{ bet.username }}</span>
        <span class="amount">${{ bet.amount }}</span>
      </div>
    </div>
  </div>
  <div class="team1" >
    <span class="bluetext"><strong>Gold</strong></span>
    <div class="bets">
      <div ng-repeat="bet in bets | filter:{team: 1} | orderBy:'-amount'" >
        <span class="user">{{ bet.username }}</span>
        <span class="amount">${{ bet.amount }}</span>
      </div>
    </div>
  </div>
  <div ng-show="authed() && !betMade && !started" class="betPanel" ng-controller="BetCtrl" >
    <form ng-submit="placeBet()">
      <h4 class="amount">${{ currency() }}</h4>
      <div ng-if="message">{{ message }}</div>
      <input type="number" ng-model="bet.amount" ng-change="message = false" min="0" />
      <button ng-click="bet.team = 0">Chicken</button>
      <button ng-click="bet.team = 1">Gold</button>
    </form>
  </div>
</div>
