<div class="browser-window" ng-controller="ChatCtrl" >
  <h4 class='text-center'>Battle Nuggets Chat</h4>
  <div class="viewport" scroll-glue>
    <div class='viewport-content' >
      <div class="bubble-container" ng-repeat="msg in msgs track by $index" >
        <div class="bubble bubble-{{msg.side}}"><strong>{{id}}: </strong> {{ msg }}</div>
      </div>
    </div>
  </div>
  <form class="row row-chat" ng-submit="sendMsg()" >
    <div class='input-group'>
      <input type="text" class="form-control" placeholder='Type your message' ng-model="chatmsg" />
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Send</button>
      </span>
    </div>
  </form>
</div>